* {
	font-family: 微软雅黑, 宋体, helvetica, tahoma, verdana, sans-serif;
}

.settings {
	background-image: url(../images/folder_wrench.png);
}

.nav {
	background-image: url(../images/folder_go.png);
}

.info {
	background-image: url(../images/information.png);
}

.hung-business {
	background-image: url(../images/hung-business.png);
}

.back-business {
	background-image: url(../images/back-business.png);
}

.submit-business {
	background-image: url(../images/submit-business.png);
}

.chart-business {
	background-image: url(../images/chart-business.png);
}

.process-business {
	background-image: url(../images/process-business.png);
}

.manage-business {
	background-image: url(../images/manage-business.png);
}

.application-business {
	background-image: url(../images/application-business.png);
}

.upload {
	background-image: url(../images/upload.png);
}

.first {
	background-image: url(../images/first.png);
}

.progress {
	background-image: url(../images/progress.png);
}

.logout {
	background-image: url(../images/logout.png);
}

.parent {
	background-image: url(../images/parent.png);
}

.children {
	background-image: url(../images/children.png);
}

.change-pwd {
	background-image: url(../images/change-pwd.png);
}

.reset {
	background-image: url(../images/reset.png);
}

.download {
	background-image: url(../images/download.png);
}

.task {
	background-image: url(../images/cog.gif) !important;
}

.page_attach {
	background-image: url(../images/page_attach.png) !important;
}

.expxsl {
	background-image: url(../images/expxsl.png) !important;
}

.task-folder {
	background-image: url(../images/folder_go.gif) !important;
}

.user_female {
	background-image: url(../images/user_female.png) !important;
}

.user_gray {
	background-image: url(../images/user_gray.png) !important;
}

.icon-user {
	background-image: url(../images/user.png) !important;
}

.icon-auth {
	background-image: url(../images/user_edit.png) !important;
}

.icon-user-add {
	background-image: url(../images/user_add.gif) !important;
}

.icon-save {
	background-image: url(../images/save.gif) !important;
}

.icon-cross {
	background-image: url(../images/cross.gif) !important;
}

.icon-reset {
	background-image: url(../images/stop.png) !important;
}

.icon-grid {
	background-image: url(../images/grid.png) !important;
}

.icon-add {
	background-image: url(../images/add.png) !important;
}

.icon-delete {
	background-image: url(../images/delete.png) !important;
}

#loading-mask {
	background-color: white;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20000;
}

#loading {
	height: auto;
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px 微软雅黑, Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 10px;
}

#loading-msg {
	font-size: 12px;
	font-weight: normal;
}